@use "styles/index" as *;

.ctable-container {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  .MuiTableCell-root {
    > span {
      white-space: nowrap;
      font-size: 16px;
      text-transform: capitalize;
    }

    svg {
      cursor: pointer;
    }
  }

  .empty-row {
    td {
      text-align: center;

      img {
        height: 300px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
      }

      p {
        color: $neutral-700;
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}
